@media (max-width: 2560px) {
  body .special .slider_content .swiper-slide {
    width: 15.5vw;
  }
  body .special .slider_content .swiper-slide .inner-slider .swiper-wrapper .swiper-slide .image_container {
    height: 10.5vw;
  }
  body .special .slider_content .main-slider-wrapper .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
    opacity: 0.6;
  }
  body .content .container {
    width: 28%;
  }
  body .main_content .container .blog_container .blog {
    width: 31%;
  }
}

@media (max-width: 1440px) {
  body .special .slider_content .swiper-slide {
    width: 18.5vw;
  }
  body .special .slider_content .swiper-slide .inner-slider .swiper-wrapper .swiper-slide .image_container {
    height: 12.8vw;
  }
  body .special .slider_content .swiper-slide .inner-slider .inner_button {
    top: 65px;
  }
  body .main-slider-wrapper .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide {
    opacity: 0.6;
  }
  body .content .container {
    width: 31%;
  }
  body .main_content .container .blog_container .blog {
    width: 31%;
  }
}

@media (max-width: 1024px) {
  body header .top_header {
    padding: 16px 6%;
  }
  body header .top_header .left .zone_button {
    display: none;
  }
  body header .top_header .right a {
    display: none;
  }
  body header .top_header .right .menu .close svg {
    width: 32px;
    height: 32px;
  }
  body header .top_header .right .menu nav ul li a {
    font-size: 24px;
  }
  body header .bottom_header {
    padding: 16px 6%;
  }
  body header .bottom_header .header_content h1 {
    max-width: 72px;
    max-height: 67px;
  }
  body header .bottom_header .header_content h1 a img {
    width: 72px;
    height: 67px;
  }
  body header .bottom_header .header_content .profile_cart .profile section {
    padding: 16px 24px;
  }
  body header .bottom_header .header_content .profile_cart .profile section span {
    display: none;
  }
  body .fixedheader .top_header {
    padding: 16px 6%;
  }
  body .fixedheader .bottom_header {
    padding: 16px 6%;
  }
  body .fixedheader .bottom_header .header_content h1 {
    max-width: 72px;
    max-height: 67px;
  }
  body .fixedheader .bottom_header .header_content h1 a {
    width: 72px;
    height: 67px;
  }
  body .fixedheader .bottom_header .header_content h1 a img {
    width: 72px;
    height: 67px;
  }
  body .special {
    padding: 356px 0 72px 6%;
  }
  body .special .slider_content .swiper-slide {
    width: 23vw;
  }
  body .special .slider_content .swiper-slide .inner-slider .swiper-wrapper .swiper-slide .image_container {
    height: 15vw;
  }
  body .special .slider_content .main-slider-wrapper .swiper-slide-next + .swiper-slide + .swiper-slide {
    opacity: 0.6;
  }
  body .content {
    margin: 56px 6%;
  }
  body .main_content .container .blog_container .blog {
    width: 31%;
  }
  body .drink_button {
    left: 15px;
  body .scroll_top {
    padding: 0 15px;
  }
  body .background {
    padding: 44px 6%;
  }
  body footer {
    padding: 1px 6%;
  }
}

@media (max-width: 970px) {
  body .special .slider_content .swiper-slide {
    width: 30vw;
  }
  body .special .slider_content .swiper-slide .inner-slider .swiper-wrapper .swiper-slide .image_container {
    height: 20vw;
  }
  body .special .slider_content .main-slider-wrapper .swiper-slide-next + .swiper-slide {
    opacity: 0.6;
  }
  body .content .container {
    width: 44%;
  }
  body .content .container .bottom_container .title_price {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  body header .top_header {
    padding: 16px 8%;
  }
  body header .top_header .left .zone_button {
    display: none;
  }
  body header .top_header .right a {
    display: none;
  }
  body header .top_header .right .menu .close svg {
    width: 32px;
    height: 32px;
  }
  body header .top_header .right .menu nav ul li a {
    font-size: 24px;
  }
  body header .bottom_header {
    padding: 16px 8%;
  }
  body header .bottom_header .header_content h1 {
    max-width: 72px;
    max-height: 67px;
  }
  body header .bottom_header .header_content h1 a img {
    width: 72px;
    height: 67px;
  }
  body header .bottom_header .header_content .nav {
    display: none;
  }
  body header .bottom_header .header_content .profile_cart .profile section {
    padding: 16px 24px;
  }
  body header .bottom_header .header_content .profile_cart .profile section span {
    display: none;
  }
  body header .bottom_header .responsive_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-top: 1px solid #F0F0F0;
  }
  body header .bottom_header .responsive_nav .nav {
    width: 100%;
  }
  body header .bottom_header .responsive_nav .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .bottom_header .responsive_nav .nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #6d6e71;
    font-family: "myriad_geo_bold";
    font-size: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 0 8px 0;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    position: relative;
    z-index: 1;
  }
  body header .bottom_header .responsive_nav .nav ul li a svg {
    margin-bottom: 16px;
  }
  body header .bottom_header .responsive_nav .nav ul li .active {
    position: relative;
    width: 100%;
  }
  body .fixedheader .top_header {
    display: none;
  }
  body .fixedheader .bottom_header {
    padding: 16px 8%;
  }
  body .fixedheader .bottom_header .header_content h1 {
    max-width: 72px;
    max-height: 67px;
  }
  body .fixedheader .bottom_header .header_content h1 a {
    width: 72px;
    height: 67px;
  }
  body .fixedheader .bottom_header .header_content h1 a img {
    width: 72px;
    height: 67px;
  }
  body .fixedheader .bottom_header .header_content .nav {
    display: none;
  }
  body .content {
    margin: 32px 8%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .content .container {
    width: 100%;
    margin-right: 0;
  }
  body .content .container .top_container .left .choose_info .hide_container {
    left: -106px;
  }
  body .content .container .top_container .left .choose_info .hide_container:before {
    right: 14px;
    left: unset;
  }
  body .special {
    padding-top: 192px;
  }
  body .special .top_container .star {
    width: 56px;
    height: 56px;
  }
  body .special .top_container p {
    font-size: 16px;
  }
  body .special .slider_content {
    margin-top: 24px;
  }
  body .special .slider_content .swiper-slide {
    width: 30vw;
  }
  body .special .slider_content .swiper-slide .inner-slider .swiper-wrapper .swiper-slide .image_container {
    height: 20vw;
  }
}

@media (max-width: 610px) {
  body header .top_header {
    padding: 16px 8%;
  }
  body header .top_header .left .zone_button {
    display: none;
  }
  body header .top_header .right a {
    display: none;
  }
  body header .top_header .right .menu .close svg {
    width: 32px;
    height: 32px;
  }
  body header .top_header .right .menu nav ul li a {
    font-size: 24px;
  }
  body header .bottom_header {
    padding: 16px 8%;
  }
  body header .bottom_header .header_content h1 {
    max-width: 72px;
    max-height: 67px;
  }
  body header .bottom_header .header_content h1 a img {
    width: 72px;
    height: 67px;
  }
  body header .bottom_header .header_content .nav {
    display: none;
  }
  body header .bottom_header .header_content .profile_cart .profile section {
    padding: 16px 24px;
  }
  body header .bottom_header .header_content .profile_cart .profile section span {
    display: none;
  }
  body header .bottom_header .header_content .profile_cart .profile .profile_dropdown {
    left: -65px;
  }
  body header .bottom_header .responsive_nav .nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header .bottom_header .responsive_nav .nav ul li {
    margin-right: 70px;
  }
  body header .bottom_header .responsive_nav .nav ul li:nth-child(3) {
    margin-right: 0;
  }
  body header .bottom_header .responsive_nav .nav ul li:last-child {
    margin-right: 0;
  }
  body .fixedheader .top_header {
    padding: 16px 8%;
  }
  body .fixedheader .bottom_header {
    padding: 16px 8%;
  }
  body .fixedheader .bottom_header .header_content h1 {
    max-width: 72px;
    max-height: 67px;
  }
  body .fixedheader .bottom_header .header_content h1 a {
    width: 72px;
    height: 67px;
  }
  body .fixedheader .bottom_header .header_content h1 a img {
    width: 72px;
    height: 67px;
  }
  body .fixedheader .bottom_header .header_content .nav {
    display: none;
  }
  body .fixedheader .bottom_header .responsive_nav .nav ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .fixedheader .bottom_header .responsive_nav .nav ul li a span {
    display: none;
  }
  body .content {
    margin: 32px 6%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .content .container {
    width: 100%;
    margin-right: 0;
  }
  body .special {
    padding-top: 401px;
  }
  body .special .top_container .star {
    width: 56px;
    height: 56px;
  }
  body .special .top_container p {
    font-size: 16px;
  }
  body .special .slider_content {
    margin-top: 24px;
  }
  body .special .slider_content .swiper-slide {
    width: 60vw;
  }
  body .special .slider_content .swiper-slide .inner-slider .swiper-wrapper .swiper-slide .image_container {
    height: 41vw;
  }
  body .special .slider_content .main-slider-wrapper .swiper-slide-next {
    opacity: 0.6;
  }
}

@media (max-width: 450px) {
  body header .top_header {
    padding: 16px 6%;
  }
  body header .top_header .left .zone_button {
    display: none;
  }
  body header .top_header .right a {
    display: none;
  }
  body header .top_header .right .menu .close svg {
    width: 32px;
    height: 32px;
  }
  body header .top_header .right .menu nav ul li a {
    font-size: 24px;
  }
  body header .bottom_header {
    padding: 16px 6%;
  }
  body header .bottom_header .header_content h1 {
    max-width: 72px;
    max-height: 67px;
  }
  body header .bottom_header .header_content h1 a img {
    width: 72px;
    height: 67px;
  }
  body header .bottom_header .header_content .nav {
    display: none;
  }
  body header .bottom_header .header_content .profile_cart .profile section {
    padding: 16px 24px;
  }
  body header .bottom_header .header_content .profile_cart .profile section span {
    display: none;
  }
  body header .bottom_header .responsive_nav .nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header .bottom_header .responsive_nav .nav ul li:nth-child(3) {
    margin-right: 0;
  }
  body header .bottom_header .responsive_nav .nav ul li:last-child {
    margin-right: 0;
  }
  body .fixedheader .top_header {
    padding: 16px 6%;
  }
  body .fixedheader .bottom_header {
    padding: 16px 6%;
    padding-bottom: 0;
  }
  body .fixedheader .bottom_header .header_content h1 {
    max-width: 72px;
    max-height: 67px;
  }
  body .fixedheader .bottom_header .header_content h1 a {
    width: 72px;
    height: 67px;
  }
  body .fixedheader .bottom_header .header_content h1 a img {
    width: 72px;
    height: 67px;
  }
  body .fixedheader .bottom_header .header_content .nav {
    display: none;
  }
  body .fixedheader .bottom_header .responsive_nav .nav ul li:last-child {
    margin-left: 12px;
  }
  body .content {
    margin: 32px 6%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .content .container {
    width: 100%;
    margin-right: 0;
  }
  body .special .top_container .star {
    width: 56px;
    height: 56px;
  }
  body .special .top_container p {
    font-size: 16px;
  }
  body .special .slider_content {
    margin-top: 24px;
  }
  body .special .slider_content .swiper-slide {
    width: 70vw;
  }
  body .special .slider_content .swiper-slide .inner-slider .swiper-wrapper .swiper-slide .image_container {
    height: 43vw;
  }
  body .special .slider_content .main-slider-wrapper .swiper-slide-next {
    opacity: 0.6;
  }
  body footer {
    padding: 1px 20px 10px 20px;
  }
  body footer .footer .logo_social {
    margin-top: 5px;
  }
  body footer .footer .logo_social a {
    display: block;
    width: 72px;
    height: 67px;
  }
  body footer .footer .logo_social a img {
    width: 100%;
  }
  body footer .footer .social .icon a {
    width: 19px;
    height: 19px;
  }
  body footer .footer .social .icon a svg {
    width: 5px;
    height: 10px;
  }
  body footer .footer .bottom_container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body footer .footer .bottom_container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body footer .footer .bottom_container a img {
    width: 41px;
    height: 7px;
  }
  body footer .footer .bottom_container svg {
    height: 9px;
    width: 48px;
  }
  body .scroll_top {
    padding: 0 10px;
    margin-top: 0;
  }
  body .drink_button {
    position: unset;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=responsive.css.map */