* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #F2F2F2;

    header {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        z-index: 99;
        transition: all .5s ease-in-out;
        position: fixed;

        .top_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 56px 139px;

            .left {
                display: flex;
                align-items: center;

                span {
                    color: #6D6E71;
                    display: block;
                    font-family: 'myriad_geo_bold';
                    font-size: 14px;
                    margin-left: 16px;
                }
            }

            .right {
                display: flex;
                align-items: center;

                a {
                    display: block;
                    color: #c14a68;
                    font-family: 'poppins_black';
                    font-size: 14px;
                    text-transform: uppercase;
                    margin-right: 40px;
                    cursor: pointer;
                }

                svg {
                    cursor: pointer;
                }

                .menu {
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: -100%;
                    left: 0;
                    z-index: 99;
                    background: #ffffff;
                    transition: .5s ease-in-out;
                    overflow: hidden;

                    nav {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        text-align: center;

                        ul {
                            li {
                                margin: 104px 0;

                                a {
                                    color: #6d6e71;
                                    font-family: "myriad_geo_mtavruli_bold";
                                    font-size: 32px;
                                    text-transform: uppercase;
                                    transition: .2s ease-in-out;

                                    &:hover {
                                        color: #a8a8a8;
                                    }
                                }

                                &:last-child {
                                    margin-bottom: 95px;
                                }

                                &:first-child {
                                    margin-top: 35px;
                                }
                            }
                        }
                    }

                    .close {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        svg {
                            border: 4px solid #c13458;
                            border-radius: 50%;
                            padding: 16px;
                            margin-top: 40px;
                            margin-right: 40px;
                        }
                    }

                    .nav_footer {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-self: center;

                        ul {
                            display: flex;
                            align-items: center;

                            li {
                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 20px;
                                    background-color: #c13458;
                                    margin-right: 16px;
                                }
                            }
                        }
                    }
                }

                .show {
                    top: 0;
                }
            }
        }

        .bottom_header {
            padding: 0 139px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);

            h1 {
                max-width: 104px;
                max-height: 96px;

                a {
                    display: block;

                    img {
                        // width: 100%;
                        object-fit: cover;
                    }
                }
            }

            nav {

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        margin-right: 60px;

                        a {
                            display: flex;
                            flex-direction: column;
                            color: #6d6e71;
                            font-family: "myriad_geo_bold";
                            font-size: 14px;
                            align-items: center;
                            padding: 74px 0;
                            transition: .2s ease-in-out;
                            position: relative;

                            svg {
                                margin-bottom: 16px;
                            }

                            &:hover {
                                color: #a8a8a8;
                            }

                            &:hover::before {
                                opacity: 1;
                            }
                        }



                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    .active {
                        border-top: 1px solid #c13458;
                        transition: .2s ease-in-out;

                        &:hover {
                            color: #6d6e71;
                        }
                    }
                }
            }

            .profile_cart {
                display: flex;
                align-items: center;

                .profile {
                    box-shadow: 0 30px 30px rgba(240, 240, 240, 0.32);
                    background-color: #f0f0f0;
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 25px;

                    span {
                        color: #6d6e71;
                        font-family: "myriad_geo_bold";
                        font-size: 13px;
                        margin-left: 16px;
                        line-height: 17px;
                    }
                }

                .cart {
                    margin-left: 40px;
                    padding: 16px;
                    cursor: pointer;
                    transition: .2s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 23px;
                    position: relative;

                    .onhover {
                        display: none;
                    }

                    &:hover {
                        background: #c13458;
                    }

                    &:hover svg {
                        display: none;
                    }

                    &:hover .onhover {
                        display: block;
                    }

                    span {
                        border-radius: 23px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        top: -5px;
                        right: -10px;
                        width: 25px;
                        height: 25px;
                        background-color: #ffffff;
                        color: #c13458;
                        font-family: "myriad_geo_bold";
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .fixedheader {
        position: fixed;
        transition: all .5s ease-in-out;

        .top_header {
            padding: 16px 139px;
            border-bottom: 1px solid #f0f0f0;
        }

        .bottom_header {
            h1 {
                a {
                    width: 52px;
                    height: 48px;

                    img {
                        width: 100%;
                    }
                }
            }

            nav {
                ul {
                    li {
                        a {
                            padding: 25px 0;
                        }
                    }
                }
            }
        }
    }

    .special {
        padding: 72px 0 72px 139px;
        display: flex;
        flex-direction: column;
        padding-top: 356px;

        .top_container {
            display: flex;
            align-items: center;
            margin-top: 72px;

            svg {
                padding: 20px;
                background-color: #c13458;
                border-radius: 50%;
            }

            p {
                color: #6d6e71;
                font-family: "myriad_geo_mtavruli_bold";
                font-size: 24px;
                margin-left: 16px;
                width: 50%;
            }
        }

        .slider_content {
            margin-top: 72px;

            .swiper-container {
                width: 100%;
                height: 100%;
                position: initial;

                .swiper-wrapper {
                    margin-bottom: 14px;
                }

                .main_arrows {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 14px;
                    margin-right: 139px;

                    .slider_button_next {}

                    .slider_button_prev {
                        margin-right: 32px;
                    }

                    .main_slider_arrow {
                        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
                        border-radius: 28px;
                        border: 4px solid #c03357;
                        outline: none;
                        width: auto;
                        height: auto;
                        background-image: none;
                        background-image: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: initial;
                        margin-top: 0;
                        transition: .2s ease-in-out;

                        svg {
                            padding: 12px 15px;
                        }

                        &:hover {
                            background-color: #c03357;

                            svg {
                                path {
                                    fill: #ffffff;
                                }
                            }
                        }
                    }

                    .swiper-button-disabled {
                        opacity: 1;
                    }
                }

                .inner-slider {
                    width: 100%;
                }
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                width: 29%;
                height: auto;
                /* Center slide text vertically */
                display: flex;
                overflow: hidden;
                align-items: center;

                // Inner Slider

                .inner-slider {
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;
                            flex-direction: column;

                            .image_container {
                                width: 100%;
                                height: 217px;
                                border-radius: 6px;
                                position: relative;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }

                                .info_container {
                                    width: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    display: flex;
                                    justify-content: space-between;

                                    .sale {
                                        width: 58px;
                                        height: 31px;
                                        background-color: #c13458;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 6px 0 0;

                                        span {
                                            color: #ffffff;
                                            font-family: "myriad_geo_mtavruli_bold";
                                            font-size: 13px;
                                        }
                                    }

                                    .info {
                                        width: 24px;
                                        height: 24px;
                                        background-color: #c13458;
                                        border-radius: 50%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-top: 8px;
                                        margin-right: 8px;
                                        cursor: pointer;
                                    }
                                }

                            }

                            h2 {
                                color: #6d6e71;
                                font-family: "myriad_geo_mtavruli_medium";
                                font-size: 16px;
                                font-weight: 700;
                                margin-top: 8px;

                                span {
                                    font-family: "poppins_black";
                                }
                            }

                            .price {
                                display: flex;
                                justify-content: center;

                                .sale {
                                    color: #676767;
                                    font-family: "myriad_geo_bold";

                                    del {
                                        font-size: 16px;
                                    }
                                }

                                span {
                                    display: block;
                                    color: #bf3357;
                                    font-family: "poppins_black";
                                    font-size: 24px;
                                    margin-left: 4px;

                                    small {
                                        font-family: "bpg_gel";
                                        margin-left: 1px;
                                    }
                                }
                            }

                            .cart {
                                width: 40px;
                                height: 40px;
                                background-color: #c03357;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                margin-top: 5px;
                                transition: .2s ease-in-out;

                                svg {
                                    width: 16px;
                                    height: 16px;
                                }

                                .onhover {
                                    display: none;
                                }

                                &:hover {
                                    background-color: #ffffff;
                                }

                                &:hover svg {
                                    display: none;
                                }

                                &:hover .onhover {
                                    display: block;
                                }
                            }
                        }
                    }

                    .inner_button {
                        width: 26px;
                        height: 34px;
                        border-radius: 16px 0px 0px 16px;
                        background-color: #c13458;
                        top: 27%;
                        margin-top: 0;
                        left: auto;
                        background-image: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .inner_button_next {
                        right: 0;
                    }

                    .inner_button_prev {
                        border-radius: 0px 16px 16px 0px;
                    }

                    .swiper-button-disabled {
                        opacity: 1;
                    }
                }
            }

            .swiper-slide-next+.swiper-slide+.swiper-slide {
                opacity: 0.6;
            }
        }
    }

    .background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 44px 139px;
        opacity: 0.85;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        svg{
            width: 93px;
            height: 66px;

            path{
                fill: #ffffff;
            }
        }
        h2 {
            color: #ffffff;
            font-family: "myriad_geo_mtavruli_bold";
            font-size: 32px;
        }
    }

    .sushi {
        background-image:
            linear-gradient(to bottom, rgba(193, 52, 88, 0.85), rgba(193, 52, 88, 0.85)),
            url('../images/background_images/sushi_background.png');
        background-color: #c13458;
    }

    .atria {
        background-image:
            linear-gradient(to bottom, rgba(249, 157, 28, 0.85), rgba(249, 157, 28, 0.85)),
            url('../images/background_images/atria_background.png');
        background-color: #f99d1c;
    }

    .lunch {
        background-image:
            linear-gradient(to bottom, rgba(90, 73, 117, 0.85), rgba(90, 73, 117, 0.85)),
            url('../images/background_images/lunch_background.png');
        background-color: #5a4975;
    }

    .salati {
        background-image:
            linear-gradient(to bottom, rgba(114, 181, 91, 0.85), rgba(114, 181, 91, 0.85)),
            url('../images/background_images/salati_background.png');
        background-color: #72b55b;
    }

    .drink {
        background-image:
            linear-gradient(to bottom, rgba(109, 110, 113, 0.85), rgba(109, 110, 113, 0.85)),
            url('../images/background_images/drink_background.png');
        background-color: #6d6e71;
    }

    .content {
        margin: 56px 139px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        .container {
            border-radius: 11px;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            width: 352px;
            margin-left: 16px;
            margin-top: 24px;

            &:first-child {
                margin-left: 0;
            }

            .top_container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .sale {
                    width: 89px;
                    height: 40px;
                    background-color: #c13458;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 11px 0;

                    span {
                        color: #ffffff;
                        font-family: "myriad_geo_mtavruli_bold";
                        font-size: 14px;
                        display: block;
                        background-color: #c13458;
                    }
                }

                .price {
                    span {
                        font-size: 24px;

                        small {
                            font-family: "bpg_gel";
                            display: inline-block;
                        }
                    }
                }

                .left {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: flex-end;
                    margin-top: 8px;

                    .choose {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 12px;
                        border: 2px solid #c13458;
                        margin-right: 16px;
                        cursor: pointer;
                        transition: .2s ease-in-out;

                        &:hover {
                            background-color: #c13458;
                        }

                        &:hover svg path {
                            fill: #fff;
                        }

                        &:last-child {
                            margin-right: 8px;
                        }
                    }
                }
            }

            .image_container {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 34px 0 75px 0;


                    img {
                        width: auto;
                        object-fit: cover;
                    }
                }
            }

            .bottom_container {
                background-color: #c13458;
                padding: 8px;
                display: flex;
                flex-direction: column;
                border-radius: 0 0 11px 11px;

                .title_price {
                    display: flex;

                    h3 {
                        color: #ffffff;
                        font-family: "myriad_geo_mtavruli_bold";
                        font-size: 13px;
                    }

                    .price {
                        display: flex;
                        align-items: baseline;

                        del {
                            color: #d8d8d8;
                            font-family: "myriad_geo_bold";
                            font-size: 17px;
                            margin-right: 4px;
                        }

                        span {
                            display: block;
                            color: #ffffff;
                            font-family: "bpg_gel";
                            font-size: 24px;
                            font-weight: 700;
                        }
                    }
                }

                .actions {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 16px;
                    align-items: flex-end;
                    position: relative;

                    .sauce {
                        border-radius: 20px;
                        border: 2px solid #ffffff;
                        display: flex;
                        align-items: center;
                        transition: .2s ease-in-out;
                        cursor: pointer;
                        padding: 6px 14px;
                        position: relative;
                        z-index: 1;

                        p {
                            margin-right: 7px;
                            opacity: 0.64;
                            color: #ffffff;
                            font-family: "myriad_geo_bold";
                            font-size: 12px;
                            transition: .2s ease-in-out;
                        }

                        &:hover p {
                            opacity: 1;
                        }


                    }

                    .more {
                        position: absolute;
                        top: 0;
                        left: 0;
                        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
                        border-radius: 0 0 20px 20px;
                        width: 136px;
                        height: 126px;
                        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
                        background-color: #ffffff;
                        opacity: 0;
                        transition: .4s ease-in-out;
                        overflow-y: auto;
                        border-radius: 0px 0px 0px 20px;

                        form {
                            width: auto;
                            height: 100%;
                            padding: 10px 8px 4px 8px;

                            .radio {
                                display: flex;
                                align-items: center;
                                color: #6d6e71;
                                font-family: "myriad_geo_bold";
                                font-size: 10px;
                                transition: .2s ease-in-out;
                                cursor: pointer;
                                margin: 20px 0;
                                line-height: 11px;

                                input {
                                    margin-right: 6px;
                                    cursor: pointer;
                                }

                                label {
                                    cursor: pointer;
                                }

                                &:hover {
                                    color: #a8a8a8;
                                }

                                &:first-child {
                                    margin-top: 0
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    .active {
                        border-radius: 20px 20px 0 0;

                        p {
                            opacity: 1;
                        }
                    }

                    .show {
                        opacity: 1;
                        top: 42px;
                    }

                    .add_cart {
                        border-radius: 20px;
                        background-color: #ffffff;
                        display: flex;
                        align-items: center;
                        padding: 10px 16px;

                        .point {
                            display: flex;
                            align-items: center;

                            svg {
                                width: 6px;
                                height: 4px;
                                cursor: pointer;
                            }

                            span {
                                display: block;
                                color: #676767;
                                font-family: "myriad_geo_bold";
                                font-size: 16px;
                                margin: 0 16px;
                            }
                        }

                        a {
                            display: flex;
                            margin-left: 32px;

                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }

        .drinks {
            .bottom_container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: initial;
                padding: 16px;

                .actions {
                    margin-top: 0;
                }
            }
        }
    }

    footer{
        padding: 0 140px;
        padding-bottom: 10px;

        .scroll_top{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 10px;

            svg{
                cursor: pointer;
                padding: 16px 11px;
                border-radius: 20px;
                transition: .2s ease-in-out;

                &:hover{
                    background-color: #c13458;
                }
                &:hover path{
                    fill: #fff;
                }
            }
        }
        .logo_social{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 40px;

            .social{
                display: flex;
                align-items: center;

                .icon{
                    width: 32px;
                    height: 32px;
                    border-radius: 20px;
                    background-color: #c13458;
                    margin-right: 8px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .bottom_container{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                width: 95px;
                color: #676767;
                font-family: "myriad_geo_bold";
                font-size: 10px;
                border-left: 4px solid #c13458;
                padding-left: 8px;
            }
        }
    }
    .colors{
        display: flex;

        .color{
            flex: 1;
            height: 2px;
        }
        .color1{
            background-color: #6d6e71;
        }
        .color2{
            background-color: #f99d1c;
        }
        .color3{
            background-color: #72b55b;
        }
        .color4{
            background-color: #c94163;
        }
        .color5{
            background-color: #5a4975;
        }
    }
    
    .drink_button{
        position: fixed;
        bottom: 382px;
        left: 74px;

        a{
            display: block;
            border-radius: 20px;
            transition: .2s ease-in-out;

            svg{
                width: 9px;
                height: 28px;
                border-radius: 20px;
                padding: 16px;
                cursor: pointer;
            }
            &:hover{
                background-color: #c13458;
            }
            &:hover svg path{
                fill: #ffffff;
            }
        }
    }
    .messenger_button{
        position: fixed;
        bottom: 327px;
        right: 0;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
        border-radius: 6px 0 0 6px;
        background-color: #c13458;
        display: flex;
        cursor: pointer;

        svg{
            width: 18px;
            height: 18px;
            padding: 11px;
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0px 0px 20px 0px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c13458;
        border-radius: 12px;
    }
}